.page {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: block;
  font-family: 'IBM Plex mono';
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  margin: 0 auto;
  min-height: 100%;
  z-index: 0;
  background-color: var(--background-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-height: 100vh;
  padding: 20px;
  position: relative;
  overflow: visible;
  background-image: var(--backgroung-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: border-box;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  color: var(--btn-color);
  cursor: pointer;
  font: inherit;
  padding: 0 13px;
  text-align: center;
  outline: 0;
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.decorative__element {
  align-items: center;
  color: var(--btn-color);
  display: flex;
  gap: 10px;
  margin: 20px;
  padding-right: 8px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.decorative__element::after {
  background-color: var(--accent-color);
  block-size: 9px;
  border-radius: 50%;
  content: "";
  display: block;
  filter: drop-shadow(0 0 4px var(--accent-color));
  inline-size: 9px;
  margin-inline-start: 10px;
}

.frame::before,
.frame::after {
  border: 1px solid var(--btn-color);
  block-size: 25px;
  content: "";
  inline-size: 25px;
  margin: 20px;
  position: absolute;
}

.frame::before {
  border-bottom: none;
  border-left: none;
  right: 0;
  top: 0;
}

.frame::after {
  border-right: none;
  border-top: none;
  bottom: 0;
  left: 0;
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  margin-left: -20px;
  text-shadow: 4px 4px 0 var(--accent-color);
  display: block;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--sub-text-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  box-sizing: border-box;
  display: block; 
  width: 100%;
}

.header__text {
  align-self: center;
  justify-self: end;
  max-inline-size: 491px;
  max-block-size: 71px;
}

.question__section-title {
  font-size: 18px;
  color: var(--btn-color);
}

.question__section-one {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 20px;
  padding-block-start: 60px;
  font-size: 18px;
}

.question__section-answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question__section-answer p:first-of-type {
  padding-block-end: 10px;
}

.question__section-answer-text {
  color: var(--text-color);
  font-size: var(--font-size);
}

.question__section-answer-link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.question__section-answer-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.question__section-answer-link:focus {
  outline: none;
}

.question__section-answer-link:focus-visible {
  border: 1px solid var(--text-color);
}

.question__section-two {
  margin: 0 20px;
  padding-block: 80px;
  font-size: 18px;
}

.question__section-answer-two-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding-block-start: 20px;
}

.question__section-answer-title {
  padding-left: 0;
  margin-left: 0;
}

.question__section-title-two {
  max-inline-size: 315px;
}

.question__section-answer-title-two {
  margin-block-end: 10px;
}

.question__section-three {
  display: grid;
  grid-template-columns: 34% 66%;
  margin: 0 20px;
  padding-block-end: 80px;
  font-size: 18px;
}

.question__section-answer-subtitle {
  font-weight: 400;
}

.question__section-answer-three {
  display: grid;
  gap: 20px;
}

.question__section-answer-text-three {
  padding-block-start: 10px;
}

.question__section__image {
  padding-block-end: 60px;
}

.question__section-title-image {
  margin: 0 20px 20px;
}

.question__section__image-container {
  display: grid;
  gap: 20px;
  margin: 0 20px;
}

.question__section__image-item {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  border: 0;
}

.question__section__image-item:first-of-type {
  grid-column: 1 / 3;
}

.question__section__image-item:nth-of-type(2) {
  grid-column: 3;
  grid-row: 1 / 3;
}

.question__section__image-item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.question__section__image-item:nth-of-type(4) {
  grid-column: 2;
  grid-row: 2;
}

.question__section__image-item:last-of-type {
  grid-column: 2 / 4;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
  margin: 0;
}

@media (max-width: 768px) {
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    align-items: flex-end;
    flex-direction: column;
    gap: 13px;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .question__section-one,
  .question__section-three {
    gap: 20px;
    padding-inline-end: 20px;
  }

  .question__section-one {
    grid-template-columns: 33% 67%;
  }

  .question__section-three {
    grid-template-columns: 35% 65%;
  }

  .question__section-answer-two-container {
    display: flex;
    flex-direction: column;
  }

  .question__section-title-two {
    max-inline-size: 236px;
  }
}

@media (max-width:560px) {
  .header {
    padding: 10px;
  }

  .header__title {
    margin-left: 0px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    max-inline-size: 355px;
    max-block-size: 117px;
  }  

  .question__section-one {
    margin: 0px 10px;
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .question__section-two {
    margin: 0 10px;
    padding-block-start: 50px;
    padding-inline-end: 0 ;
    padding-block-end: 50px;
  }

  .question__section-title-two {
    min-inline-size: 355px;
  }

  .question__section-answer-two-container {
    display: flex;
    flex-direction: column;
  }

  .question__section-three {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-end: 50px;
  }

  .question__section__image {
    padding: 0 0 40px 0;
  }

  .question__section-title-image {
    margin: 0 10px 10px 10px;
  }

  .question__section__image-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
  }

  .footer {
    padding: 10px;
    display: flex;
    justify-content: center;
  } 

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorative__element {
    margin: 10px;
  }
  
  .frame::before {
    margin: 10px;
  }
  
  .frame::after {
    block-size: 25px;
    margin: 10px;
  }
}
